.login {
    .item1 {
    position: relative;
    padding-left: 16px;
    border-radius: 0;
    font-size: 1.6rem;
    color: #000;
    background: rgba(255, 255, 255, -0.41);
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    padding:25px;
    }
}